.container{
  width: 100%;
  height: 100vh;
  background-color: #D6DDD8;
  *:before,
    *::after {
      box-sizing: inherit;
    }
}
#title {
  font-family: "Antic", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

#note {
  font-family: "Antic", sans-serif;
  font-size: 30px;
}
input{
  text-align: center;
}
textarea {
width: 100%;
height: 75vh;
border: none;
text-decoration: none;
overflow: auto;
outline: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
resize: none;
padding: 20px;
}
.btn{
  color: rgb(255, 255, 255);
  height: 100px;
  margin-left: 60vh;
}
