*{
  display: grid;
  justify-items: center;
}

body{
  height: 100vmax;
  margin: 0;
}
h1{
  margin: 0;
  text-align: center;
  padding-top: 15vh;
  font-weight: 900;
}
.grafito{
  margin-top: 3vh;
  // margin-left: 13vh;
  width: 444px;
  height: 462px;
  justify-content: center;
  align-items: center;
}
.logo{
  margin-top: 0;
  // margin-left: 27.5vh;
  width: 127px;
  height: 116px;
  justify-content: center;
  align-items: center;
}
h3{
  text-align: center;
  font-size: 33px;
  margin-bottom: 0;
  margin-top: 0;
}
